



.imagem{

        width: 100px;
        height: 100px;

}
.titulo{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
       


}
.header{
        
        border-bottom: 1px solid #413e3e;
        padding-bottom: 0px ;
        text-align: center;

}
h2{

        margin-top: 0;
}
